#!/usr/bin/env zsh

alias pbcopy="xclip -selection clipboard"
alias pbpaste="xclip -selection clipboard -o"
alias zshconfig="vim $HOME/.zshrc"

alias dotfiles="/usr/bin/git --git-dir=$HOME/.dotfiles/ --work-tree=$HOME"
alias dot=dotfiles

# Shortcuts
alias dl="cd ~/Downloads"
alias dv="cd ~/Developer"

# Use neovim instead
alias vim="nvim"
